.component {
    display: flex;
    height: 100%;
}

.slide {
    position: relative;
    flex-shrink: 0;
    height: inherit;
    width: 2000px;
    overflow: hidden;
}

.first {
    background: cornflowerblue;
}

.second {
    background: palevioletred;
}

.third {
    background: bisque;
}

.bg-design {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}
