.component {
    display: flex;
    height: 100%;
}

.slide {
    flex-shrink: 0;
    height: inherit;
    width: 2000px;
}

.first {
    background: cornflowerblue;
}

.second {
    background: palevioletred;
}

.third {
    background: bisque;
}
